<!DOCTYPE html>
<html lang="pt-BR">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Forum</title>
	<link rel="stylesheet" href="/styles/styleF.css">
</head>

<body>

	<header class="Site-header">
		<div class="Header-container">
			<div class="Logo">
				<a href="/views/index.html">
					<img src="/assets/IconForum.png" alt="depressive" width="400" height="400">
				</a>
			</div>
			<nav class="Main-nav" aria-label="Main navigation">
				<a href="#" class="Nav-link">Old Games</a>
				<a href="#" class="Nav-link">Community</a>
				<a href="#" class="Nav-link">Hentai Games</a>
			</nav>
		</div>
	</header>

	<main>

		<div class="post">
			<h2>Fallout 4</h2>
			<img src="/assets/Fallout.jpg" alt="">
			<p> "Fallout 4" is an action role-playing game developed by Bethesda Game Studios, released in 2015. Set in
				a
				post-apocalyptic world, the game is set in the Boston area known as the Commonwealth. Players assume the
				role of a survivor of Vault 111, who emerges after 200 years of cryogenics to find a world devastated by
				nuclear war. With an engaging narrative, the game offers freedom of exploration, intense combat, and the
				ability to shape the fate of the world through the player's choices.</p>
		</div>
		<br>
		<div class="post">
			<h2>Minecraft</h2>
			<img src="/assets/Minecraft.avif" alt="">
			<p>"Minecraft is a sandbox game created by Mojang Studios, released in 2011. Set in an infinite pixelated
				world,
				players can explore, build and survive in a procedurally generated environment. With open and flexible
				mechanics, the game offers creative freedom for players to build impressive structures, explore caves
				and
				face diverse challenges. With game modes such as Survival, Creative and Adventure, "Minecraft"
				captivates
				players of all ages, allowing them to create their own virtual world and tell their own stories.</p>
		</div>
		<br>
		<div class="post">
			<h2>Fortnite</h2>
			<img src="/assets/Fortnite.jpeg" alt="">
			<p>"Fortnite is a battle royale game developed by Epic Games that was released in 2017. Set in a colorful,
				cartoonish world, the game pits up to 100 players against each other on an island where they compete to
				be
				the last one standing. With unique building mechanics, players can collect resources and build defensive
				structures throughout the game. In addition to the Battle Royale mode, Fortnite also features creative
				game
				modes, where players can build and share their own maps and game modes. With seasonal events, frequent
				updates, and a vibrant community, Fortnite has become a cultural phenomenon and one of the most popular
				games today.</p>
		</div>
		<br>
		<div class="post">
			<h2>Destiny</h2>
			<img src="/assets/Destiny.jpg" alt="">
			<p>"Destiny 2 is the sequel to Bungie's 2017 first-person shooter. Continuing the story of the first game,
				players continue to defend the last city on Earth as Guardians, facing new alien threats. With a
				cinematic
				campaign, expanded cooperative and competitive activities, Destiny 2 offers an even more immersive
				gameplay
				experience. In addition, the game continues to receive regular content updates, expansions and seasonal
				events, keeping players engaged and exploring its vast universe.</p>
		</div>
		</div>

	</main>

	<footer>
		<p>© 2025 - All rights reserved</p>
		<p>Developed by Ariel Lorenz</p>
	</footer>

</body>

</html>